.notification {
  height: 98vh;
}
.create-book {
  position: absolute;
  bottom: 10px;
  width: 95%;
}

.card {
  /* width: 300px; */
  height: 400px;
}
.book-list {
  display: grid;
  grid-auto-flow: row;
  height: 80vh;
  grid-gap: 10px;
  overflow: auto;
  grid-template-columns: repeat(6, 1fr);
}
.action-icons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
}
.action-icons div {
  padding: 5px;
}

.action-icons div:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.title-change {
  width: 100px;
}